<h1>About</h1>

<p>HR Management Tool</p>
<div class="logo-center" align="center" id="emb-email-header"><img
        style="display: block;height: auto;width: 100%;border: 0;max-width: 234px;"
        src="https://www.m-tod.org/images/logo.png" alt="" width="234" /></div>


<p>ver 0.1.0</p>