<div class="card card-body">
    <h3>Resmi Tatil Ekle</h3>
    <form action="/holidays/addNationalHolidays" method="post">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">Resmi Tatil Adı</label>
            </div>
            <input type="text" class="form-control" value="{{nationalHolidayName}}" name="nationalHolidayName" required>
        </div>

        <br>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">Resmi Tatil Başlangıç Tarihi</label>
            </div>
            <input type="date" class="form-control" value="{{nationalHolidayStart}}" name="nationalHolidayStart" required>
        </div>

        <br>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">Resmi Tatil Bitiş Tarihi</label>
            </div>
            <input type="date" class="form-control" value="{{nationalHolidayEnd}}" name="nationalHolidayEnd" required>
        </div>


        <br>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
</div>